/*font*/

/*nanum brush*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

/*jim nightshade*/
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Nanum+Brush+Script&display=swap');

/*reset style*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #59341e;
}
header{
    background-color: #8c583a;
    height: 75px;
    text-align: center;
    
}
h1{
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    color: #400224;
}
section{
    background-color: #d99b66;
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color:#a60505;
    text-align: center;
}
img{
    margin-left: 40%;
}
button{
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
}
footer{
    background-color: #8c583a;
    height: 75px;
    align-items: end;
}
/*.nanum-brush script-regular {
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .jim-nightshade-regular {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
  }*/
  