/*font*/

/*nanum brush*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

/*jim nightshade*/
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Nanum+Brush+Script&display=swap');

/*reset style*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #59341e;
}
header{
    background-color: #8c583a;
    height: 75px;
    text-align: center;
    
}
h1{
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    color: #400224;
}
section{
    background-color: #d99b66;
    margin: 0 10%; 
    padding: 20px; 
    display: flex; /* Use flexbox for horizontal layout */
    flex-wrap: wrap; /* Allow items to wrap to next line if needed */
    justify-content: center; /* Center items horizontally */
}
h2{
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color:#a60505;
    text-align: center;
    flex: 1; /* Allow items to grow and shrink equally */
}
img{
    display: block; /* Ensure images are responsive */
    margin: 0 auto; /* Center images */
    max-width: 100%; /* Ensure images don't exceed container width */
}
button{
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
}
footer{
    background-color: #8c583a;
    height: 75px;
    object-position: bottom;
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 36px;
    }
    section{
        margin: 0 10px;
    }
    h2{
        font-size: 24;
    }

    footer{
        object-position: bottom;

    }
}
/*.nanum-brush script-regular {
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .jim-nightshade-regular {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
  }*/
  